<div class="container mt-4">
  <h2 class="mb-4">{{ isEditMode ? 'Edit Expense' : 'Add Expense' }}</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" class="form-control" [(ngModel)]="expense.description" name="description" required>
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" id="amount" class="form-control" [(ngModel)]="expense.amount" name="amount" required>
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" id="date" class="form-control" [(ngModel)]="expense.expenseDate" name="date" required>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select id="category" class="form-control" [(ngModel)]="expense.categoryId" name="category" required>
        <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">{{ isEditMode ? 'Update Expense' : 'Add Expense' }}</button>
  </form>
</div>