<!-- <div class="search-container">
  <input type="text" placeholder="Search expenses..." [(ngModel)]="searchTerm" (input)="onSearch()" />
  <button (click)="onSearch()">Search</button>
</div>
<div *ngIf="filteredExpenses.length > 0">
  <ul>
    <li *ngFor="let expense of filteredExpenses">
      {{ expense.description }} - {{ expense.amount | currency }} ({{ expense.category }}) on {{ expense.date | date }}
    </li>
  </ul>
</div>
<div *ngIf="filteredExpenses.length === 0">
  <p>No expenses found.</p>
</div> -->